<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <select type="text" id="list" class="form-control" placeholder="List" required>
                    </select>
                </div>
                <div class="form-group">
                    <select type="text" id="delivery" class="form-control" required>
                        <option value="0">SMS</option>
                        <option value="1">WhatsApp</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea type="text" id="message" class="form-control" placeholder="Message" required></textarea>
                </div>
                <button type="submit" id="gsend" class="btn btn-success">Send</button>

            </div>
        </div>
    </div>
</div>