<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <select type="text" id="contact" class="form-control" placeholder="Contact" required>
                        <option value="">Select contact</option>
                    </select>

                </div>
                <div class="form-group">
                    <input type="phone" id="phone" class="form-control" placeholder="Phone" required>
                </div>
                <div class="form-group">
                    <select type="text" id="delivery" class="form-control" required>
                        <option value="0">SMS</option>
                        <option value="1">WhatsApp</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea type="text" id="message" class="form-control" placeholder="Message" required></textarea>
                </div>
                <button type="submit" id="ssend" class="btn btn-success">Send</button>

            </div>
        </div>
    </div>
</div>